

<div class="chatbox-title">
  <h3>Codeial</h3>
</div>
<ul id="chat-messages-list">
  <li class="other-message">
    <span>Other Message</span>
  </li>
  <li class="self-message">
    <span>
      Self Message
    </span>
  </li>
</ul>

<div  id="chatbox-form" >
    <input type="text" id="content"  name="content" placeholder="Enter Text Here">
    <input type="submit" id="btn" value="Send">
</div>