<footer class="footer-card">
  <div class="footer-card__cp">
    <p >
      <i class="fa-regular fa-copyright"></i>
      Goku23 . All Right Reserved
    </p>
  </div>

 
    <ul class="footer-card__li">
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/user/profile">Profile </a>
      </li>
    </ul>
  
</footer>
