<header class="header-card">
      <h3 class="header-card__title"><a href="/">Codeial</a></h3>

       <ul class="header-card__items">
            <% if(locals.user) {%>
            <li class="header-card__lists">
                  <a href="/user/profile/<%= user._id%>">
                        <%= user.name %>
                  </a>
            </li>
            <li class="header-card__lists">
                  <a href="/user/signOut">
                        Sign Out
                  </a>
            </li>
            <% }else {%>

                  <li class="header-card__lists">
                        <a href="/user/signIn">
                              Sign In
                        </a>
                  </li>
                  <li class="header-card__lists">
                        <a href="/user/signUp">
                              Sign Up
                        </a>
                  </li>

            <% } %>   
      </ul>

</header>