
$form-text : rgb(243, 241, 241);
$form-btn : rgb(1, 236, 99);



#new-post{
  margin: 15px;
  padding: 15px;
  h4{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
  }

  textarea{
    outline: none;
    border: none;
    background-color: $form-text;
    width: 350px;
    height: 90px;
    resize: none;
  }

  .post-btn{
    margin: -10px 8px;
    padding: 8px;
    background-color: $form-btn;
    border: none;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
  }

  #posts-lists ul{
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  #posts-lists li{
    display: flex;
    flex-direction: column;
  }

  #posts-lists{
    
  }
}


